{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.
{deps, [

  {ranch,     {git, "https://github.com/extend/ranch.git",       {tag, "1.4.0"}}},
  {lager,     {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.2"}}}

]}.

{relx, [{release, { deigo, "0.1.6" },
         [
           deigo,
           sasl,
           mnesia,
           lager,
           ranch
           ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {overlay, [
          {mkdir, "conf"},
          {copy, "./config/default.sh", "conf/"},
          {copy, "./config/deigo_client.sh", "bin/"}
        ]},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.


{lager, [
  {async_threshold, 500},
  {error_logger_hwm, 5000},
  {log_root, "/tmp"},
  {handlers, [
    {lager_console_backend, [{level, info}]},
    {lager_file_backend, [{file, "error4.log"}, {level, error}]},
    {lager_file_backend, [{file, "console4.log"}, {level, info}]}
  ]}
]}.