{erl_opts, [
  debug_info,
  {parse_transform, lager_transform},
  {i, "include/"},
  {src_dirs, ["src"]}

]}.


{deps, [

  {ranch,             {git, "https://github.com/extend/ranch.git",             {tag, "1.4.0"}}},
  {lager,             {git, "https://github.com/erlang-lager/lager.git",       {tag, "3.5.2"}}}

]}.

{relx, [{release, {deigo, "0.2.2"},
  [
    deigo,
    sasl,
    mnesia,
    lager,
    ranch
  ]},

%%  {sys_config,  "./config/dev/vm.args"},
%%  {vm_args,     "./config/dev/sys.config"}

  {dev_mode, false},
  {include_erts, true},

  {extended_start_script, true},
  {generate_start_script, true}

]}.


{profiles, [

  {dev, [{erl_opts, [debug_info]},
    {relx, [

      {dev_mode,true},
      {include_erts, true},
      {system_libs, true},

      {overlay, [

        {template, "config/dev/vm.args",       "releases/\{\{release_version\}\}/vm.args"},
        {template, "config/dev/sys.config",    "releases/\{\{release_version\}\}/sys.config"},

        {template, "config/dev/sys.config",    "etc/sys.config"},
        {template, "config/dev/vm.args",       "etc/vm.args"},


        {template, "scripts/deigo",             "bin/deigo"},
        {template, "scripts/deigo",             "bin/deigo-{\{release_version\}\}"}


      ]}

    ]}]},

  {prod, [{erl_opts, [no_debug_info]},
    {relx, [


      {include_src, false},
      {dev_mode, false},
      {include_erts, true},
      {system_libs, true},


      {overlay, [

        {template, "config/prod/vm.args",       "releases/\{\{release_version\}\}/vm.args"},
        {template, "config/prod/sys.config",    "releases/\{\{release_version\}\}/sys.config"},

        {template, "config/prod/sys.config",    "etc/sys.config"},
        {template, "config/prod/vm.args",       "etc/vm.args"},


        {template, "scripts/deigo",             "bin/deigo"},
        {template, "scripts/deigo",             "bin/deigo-{\{release_version\}\}"}

      ]}

  ]}]}


  ]}.



{lager, [
    {async_threshold, 500},
    {error_logger_hwm, 5000},
    {log_root, "/tmp"},
    {handlers, [
      {lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}
]}.